@import "_variables";

.footer {
  margin-top: 3rem;

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .contact {
      background-color: $secondary;
      color: blanchedalmond;
      width: 40%;
      margin: 24px;
      border-radius: 8px;
      padding: 28px 8px;
      margin-bottom: 24px;
      .con-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 12px;
        margin: 12px auto;

        .hello {
          width: 80%;

          h5 {
            margin: 0%;
            padding: 0%;
            font-size: 18px;
          }
        }
      }
      .box2 {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .con-in {
          width: 80%;
          margin-bottom: 16px;
          padding: 3px;
        }
        .btn {
          background-color: $success;
          border-radius: 8px;
          color: $gray-800;
          font-size: large;
          font-weight: 600;
          border-bottom: 3px solid darken($success, 5%);
          border-right: 3px solid darken($success, 5%);
          border-top: none;
          border-left: none;
          &:hover {
            background-color: $success;
            color: $gray-800;
          }
          &:active {
            border-bottom: none;
            border-right: none;
            margin-bottom: 3px;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    @media (max-width: 780px) {
      .contact {
        width: 80%;
        margin: auto;
        margin-bottom: 24px;
      }
    }
  }

  .main {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-radius: 1rem;
    border: 1px solid darken($gray-700, 10%);
    cursor: pointer;

    &:hover {
      box-shadow: 2px 4px 8px $gray-700;
    }
    .row {
      text-align: center;
      h5 {
        margin: 0px;
        .icon {
          color: $gray-900;
        }
      }
    }
  }
}
