@import "_variables";

.footer {
  margin-top: 3rem;
  .main {
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    .row {
      text-align: center;
      .icon {
        color: $gray-900;
      }
    }
  }
}
