@import "_variables";

.home {
  background-color: darkgoldenrod;
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      width: 40%;
    }
    row {
      display: flex;
    }
  }
}
